:root{
    font-family: 'Source Sans Pro', sans-serif;
    --main : #ff305b   ;
}
.mainc {
    color : var(--main);
}
.bgmain{
    background-color: var(--main);
}
#HOME{
    background-image: url(../Img/slider/slider-01.jpg);
    background-size: 100% 100% ;


}
.title1 h1 {
    font-size: 70px;
    font-weight: bold;
}
.linav a:hover {
    color: var(--main) !important;
}
.img1 img{
    width: 100%;
}
.layer2 {
    transform: translateY(100%);
    transition: all .5s;
}
.img1:hover .layer2 {
    transform: translateY(0);
}
.brdot{
    border-bottom: 1px dotted black;
}
.iconh:hover {
    color: var(--main) !important ;
}

.myscale:hover {
    background-color: white;
    box-shadow: 2px 2px white;
}
.myscale i {
    transition: all .5s;
}

.myscale:hover i {
    transform: scale(130%);
}
.aftera::after{
    position: absolute;
    content: "";
    width: 16%;
    height: 1px;
    background-color: #ff305b;
    top: 121%;
    left: 42%;


    
}
.aftera::before{
    position: absolute;
    content: "";
    width: 6%;
    height: 28%;
    border-top: #ff305b 1px solid;
    border-bottom: #ff305b 1px solid;
    top: 107%;
    left: 47%;
}

    
.porto li a:hover {
    color: #ff305b !important;
}
.layer3{
opacity: 0 ;
transition: all .5s;
}

.pic5:hover .layer3 {
    opacity: 1;


}
.infooo , .feedbakk , #OurServices , #ourBlog{

    background-color: #F1F1F1;
}
.starr{
    color: gold;
}
.be4 img{
    z-index: 2;
}
.be4::after{
    position: absolute;
    content: "";
    width: 453px;
    height: 407px;
    background-color: #ff305b;
    top: -125%;
    right: 21%;
    transform: rotate(45deg);
    z-index: 1;

}

footer{
    background-color: #333333;
}
@media screen {
    
}